footer.footer
    .footer__top
        .footer__content
            .footer__logo
                a.logo(href="/")
                    img(src="img/logo_footer.svg", alt="")

            .footer__descr Ensure inclusive and equitable quality education and promote <br>lifelong learning opportunities for all
                .footer__gerb 
                    img(src="img/gerb.png", alt="")
            .footer__copyright &copy; CDO Global 2001-2021